<div class="innerSearch clearfix">
				<h2>search here:</h2>
					<div class="searchRow">
						<form name="index" action="/search" method="get">
							<input type="text" name="searchValue" id="searchValue" class="searchField" value="e.g. Thai, $15.99, Westport" />
							<input type="text" name="zipValue" id="zipValue" class="zipcodeField" value="zipcode" />
							<input type="submit" id="submit" class="sprite_buttons goBtn" value=" " />
						</form>
					</div>
			</div>
		</div>
		
		<script>
			function updateCount( item_name )
			{
				<%= "var update_url = \"update/#{@restaurant_name}\"" %>
				update_url = update_url + "/" + item_name + "/"
				
				elementId = "count"
				elementId += item_name
				
				itemCount = document.getElementById( elementId ).value
				
				update_url = update_url + itemCount
				
				window.location = update_url
				
			}
			
			function updateCountClear( item_name )
			{
				<%= "var update_url = \"update/#{@restaurant_name}\"" %>
				update_url = update_url + "/" + item_name + "/"
				
				elementId = "count"
				elementId += item_name
				
				itemCount = 0
				
				update_url = update_url + itemCount
				
				window.location = update_url
			}
			
		</script>

		<div id="lowerContentBlock" class="clearfix">
			<div id="contentBlock" class="clearfix">
				<div class="searchResults">
				
					
					<h3><%= "#{ @restaurant_name }" %></h3>
					<div class="menuResults">
					
						<ul class="menuItems">
							<li class="heading">Menu Items:</li>
							<li class="heading priceHeading">Item Price:</li>
							
							<% @items.each do |item| %>
								<div class="menuDetails">
									<li class="menuItemTitle"><%= "#{item.name}" %></li>
									<li class="menuItemDescription"><%= "#{item.description}" %></li>
									<li class="menuItemPrice">
									<%= "<a class=\"sprite_buttons deleteBtn\" onclick=\'javascript:updateCountClear(\"#{item.name}\")\'>&nbsp;</a>" %>
									<%= "<a class=\"sprite_buttons updateBtn\" onclick=\'javascript:updateCount(\"#{item.name}\")\'>&nbsp;</a>" %>
									<%= "<input type=\"text\" id=\"count#{item.name}\" value=\"#{item.getSessionCount( session )}\">" %>
									<span class="menuPriceText"><%= "$#{item.price}" %></span>
								</li>
								</div>
							<% end %>
						</ul>
					
						
						<div class="totalsContainer clearfix">
							<span class="subTotal">Total Items: <span class="subItems"><%= "#{@itemCount}" %></span> Subtotal: <span class="subPrice"><%= "#{@costSubtotal}" %></span></span>
							<span class="serviceTotal">Service Charge: <span><%= "#{@costService}" %></span></span>
							<span class="totalPrice">Total Price: <span><%= "#{@costTotal}" %></span></span>
						</div>
						<div class="totalContainerButtons clearfix">
							<a class="registerBubble" href="#">Register now &amp; save this for the future!</a>
							<a class="sprite_buttons placeOrderBtn" href="/orderconfirm"> </a>
							<span class="clearfix">&nbsp;</span>
							<%= "<a class=\"startOverBtn\" href=\"/menu/clearcart/\">Start Over</a>" %>
						</div>
						
					</div>
					
					<div class="smallMapBlock">&nbsp;</div>
					
				</div>
			</div>
		</div>