<h1>Editing menu_item</h1>

<% form_for(@menu_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :restaurant %><br />
    <%= f.text_field :restaurant %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :preptime %><br />
    <%= f.text_field :preptime %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @menu_item %> |
<%= link_to 'Back', menu_items_path %>