<p>
  <b>Name:</b>
  <%=h @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @restaurant.address %>
</p>

<p>
  <b>Cuisine:</b>
  <%=h @restaurant.cuisine %>
</p>

<p>
  <b>Starthour:</b>
  <%=h @restaurant.starthour %>
</p>

<p>
  <b>Endhour:</b>
  <%=h @restaurant.endhour %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>