<h1>Editing driver</h1>

<% form_for(@driver) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :lastclockin %><br />
    <%= f.datetime_select :lastclockin %>
  </p>
  <p>
    <%= f.label :isactive %><br />
    <%= f.check_box :isactive %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @driver %> |
<%= link_to 'Back', drivers_path %>